<h1>Game Page</h1>

<% if @player.board.ships_count == 5 %>
	Ships placed
<% end %>

<style>
.grid {

	width: 830px;
}
</style>
<section class="grid">
<% @player.board.grid.each do |key, value| %>
  <% if value.content != nil %>
	  <button class = 'btn btn-warning btn-lg'>&nbspship&nbsp</button>
  <% else %>
	  <button class = 'btn btn-primary btn-lg'>water</button>
  <% end %>
<% end %>
</section>
