<h1>Game Page</h1>

<% if @aircraft_carrier %>
	Aircraft Carrier placed
<% end %>
<% if @battleship %>
	Battleship placed
<% end %>
<% if @destroyer %>
	Destroyer placed
<% end %>
<% if @submarine %>
	Submarine placed
<% end %>
<% if @patrol_boat %>
	Patrol Boat placed
<% end %>

ship
ship
ship
ship
ship
ship
ship
ship
ship
ship
ship
ship
ship
ship
ship
ship
ship
ship
ship
ship