<h1>Game Page</h1>

<% if @player.board.ships_count == 5 %>
	Ships placed
<% end %>

<% @player.board.grid.each do |key, value| %>
  <% if value.content != nil %>
	  ship
  <% else %>
	  water
  <% end %>
<% end %>