<% if @name == "" %>
  <div class="alert alert-danger" role="alert">
	  <h3>
      <span class="glyphicon glyphicon-exclamation-sign" style="padding: 10px;"></span>
      Please input a name
    </h3>

  </div>
<% elsif @name %>
  	<h1>Welcome <%= @name %></h1>
  	<% if @game.ready? %>
  	Woohoo
  	<% else %>
  	Please enter another name
  	<% end %>
<% else %>
  <h1>Welcome to Battleships!</h1>
	<a href ='/register' ><button class="btn btn-primary">New Game</button></a>
<% end %>