<form action="/ship_placement" method="post">

  <div class="form-group">
    <label>Aircraft Carrier: </label>
    <input type="text" name="ac_coord">
    <select name="ac_orientation">
      <option value="vertically">vertically</option>
      <option value="horizontally">horizontally</option>
    </select>
  </div>

  <div class="form-group">
    <label>Battleship: </label>
    <input type="text" name="bs_coord">
    <select name="bs_orientation">
      <option value="vertically">vertically</option>
      <option value="horizontally">horizontally</option>
    </select>
  </div>

  <div class="form-group">
    <label>Destroyer: </label>
    <input type="text" name="d_coord">
    <select name="d_orientation">
      <option value="vertically">vertically</option>
      <option value="horizontally">horizontally</option>
    </select>
  </div>

  <div class="form-group">
    <label>Submarine: </label>
    <input type="text" name="s_coord">
    <select name="s_orientation">
      <option value="vertically">vertically</option>
      <option value="horizontally">horizontally</option>
    </select>
  </div>

  <div class="form-group">
    <label>Patrol boat: </label>
    <input type="text" name="pb_coord">
    <select name="pb_orientation">
      <option value="vertically">vertically</option>
      <option value="horizontally">horizontally</option>
    </select>
  </div>
  
  <input type="submit" value="Place">
</form>


<% if @aircraft_carrier %>
	Aircraft Carrier placed
<% end %>
<% if @battleship %>
	Battleship placed
<% end %>
<% if @destroyer %>
	Destroyer placed
<% end %>
<% if @submarine %>
	Submarine placed
<% end %>
<% if @patrol_boat %>
	Patrol Boat placed
<% end %>